<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Ponies and Moustaches</title>

		<meta name="description" content="Slides for Alasdair Nicol's talk 'Ponies and Moustaches' from DjangoCon EU 2015">
		<meta name="author" content="Alasdair Nicol">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/serif.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Ponies and Moustaches</h1>
					<h3>(or Templates in Django)</h3>
					<p>
					  <small><p>Alasdair Nicol | @al_sdair | http://al.sdair.co.uk</small>
					</p>
				</section>

				<section>
					<h2>Hi</h2>
					<ul>
					  <li>Alasdair Nicol</li>
					  <li>Developer at Memset Hosting</li>
					  <li>Started using Django in 2009</li>
					</ul>
				</section>

				<section>
				  <h2>Django Releases</h2>
				  <p>Django 1.0 - September 2008</p>
				  <p>Django 1.8 released - April 2015</p>

				</section>
				
				<section>
				  <h2>Django 1.8 Highlights</h2>
				  <p>API for Model._meta</p>
				  <p>New contrib.postgres</p>
				  <p>Support for <strong>multiple template engines</strong></p>				  
				</section>
				
				<section>
				  <h2>Before Django 1.8</h2>
				  <p class="fragment">Single Template Engine</p>
				  <p class="fragment">Django Template Language</p>
				</section>

				<section>
				  <h2>Swappable Components: Databases</h2>
				  <ul>
				    <li class="fragment">PostgreSQL</li>
				    <li class="fragment">MySQL</li>
				    <li class="fragment">SQLite</li>
				    <li class="fragment">Oracle</li>
				    <li class="fragment">IBM DB2 (third party)</li>
				    <li class="fragment">MS SQL (third party)</li>
				  </ul>
				</section>

				<section>
				  <h2>Swappable Components: Sessions</h2>
				  <ul>
				    <li class="fragment">Database</li>
				    <li class="fragment">Signed Cookies</li>
				    <li class="fragment">Files</li>
				  </ul>
				</section>

				<section>
				  <h2>Swappable Components: Caching</h2>
				  <ul>
				    <li class="fragment">Memcached</li>
				    <li class="fragment">Redis (3rd party)</li>
				  </ul>
				</section>

				<section>
				  <h2>Before Django 1.8</h2>
				  <p>Single Template Engine</p>
				  <p>Django Template Language</p>
				</section>

				
				<section>
				  <h2>Proposal - Replace Django Template Language with Jinja2</h2>
				  <ul>
				    <li>Backwards incompatible</li>
				    <li>Difference in philosophies</li>
				  </ul>
				</section>
				
				<section>
				  <h2>Multiple Template Engines in Django 1.8</h2>
				  <p>Crowd funded campaign launched by Aymeric Augustin</p>
				  <ul class="fragment">
				    <li>Keep existing Django template language</li>
				    <li>Add support for Jinja2 out of the box</li>
				    <li>Define an API for integrating other template engines</li>
				  </ul>
				</section>

				<section>
				  <h2>Rendering Templates</h3>
				  <div class="fragment">
				    <p>Start with a template</p>
				  <pre><code>Hello, my name is {{ name }}.
Today I'm going to talk about {{ subject }}.</code></pre>
				  </div>
				  <div class="fragment">
				    <p>Context</p>
				  <pre><code>{
    'name': 'Alasdair',
    'subject': 'Ponies and Moustaches',
}</code></pre>
				  </div>
				  <div class="fragment">
				    <p>Rendered Template</p>
				  <pre><code>Hello, my name is Alasdair.
Today I'm going to talk about Ponies and Moustaches.</code></pre>
				  </div>
				</section>

				<section>
				  <h2>Final Webpage</h2>
				  <img src="djangcon-history.png" />
				</section>
				
				<section>
				  <h2>Model Template View</h2>
				  <p>Django is an MTV framework</p>
				  <p>Other frameworks use acronym <strong>M</strong>odel <strong>V</strong>iew <strong>C</strong>ontroller</p>
				</section>

				<section>
				  <h2><strong>Model</strong> Template View</h2>
				  <p><strong>O</strong>bject-<strong>R</strong>elational <strong>M</strong>apper - Describes your database layout in Python code</p>
				  <pre class="fragment"><code class="hljs python">class Conference(models.Model):
    location = models.CharField(max_length=50)
    country = models.CharField(max_length=50)
    year = models.IntegerField()</code></pre>
				</section>

				<section>
				  <h2>Model Template <strong>View</strong></h2>
				  <p>Python callback, describes which data to display</p>
				  <pre class="fragment"><code class="hljs python">def view_conferences(request):
    """
    View all of the conferences in one page
    """
    conferences = Conference.objects.all()
    return render(request, "view_conferences.html",
        {'conferences': conferences}
    )</code></pre>
				</section>

				<section>
				  <h2>Model <strong>Template</strong> View</h2>
				  <p>How the data is presented</p>
				  <pre class="fragment"><code class="hljs django">&lt;h1&gt;Django Con Europe History&lt;/h1&gt;
&lt;table class=&quot;table&quot;&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Year&lt;/th&gt;
      &lt;th&gt;Location&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    {% for conference in conferences %}
    &lt;tr class=&quot;{% cycle 'row1' 'row2' %}&quot;&gt;
      &lt;td&gt;{{ conference.year }}&lt;/td&gt;
      &lt;td&gt;{{ conference.location }}, {{ conference.country }}&lt;/td&gt;
    &lt;/tr&gt;
    {% endfor %}
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
				</section>

				<section>
				  <h2>Jinja2</h2>
				  <p>Out of the box support in Django 1.8</p>
				  <p>Modelled after Django's template language</p>
				  <p>Fast</p>
				  <p>Used by Flask, Ansible</p>
				</section>

				<section>
				  <h3>Enabling Jinja2 in settings.py</h3>
				  <pre><code class="hljs python">TEMPLATES = [
    {
        'BACKEND': 'django.template.backends.django.DjangoTemplates',
        'APP_DIRS': True,
        'OPTIONS': {
            'context_processors': [
                ...
            ],
        },
    },
    {
        'BACKEND': 'django.template.backends.jinja2.Jinja2',
        'APP_DIRS': True,
    },				      
]</code></pre>
				</section>

				<section>
				  <h2>Further Reading</h2>
				  <ul>
				    <li>Project updates - https://myks.org/en/multiple-template-engines-for-django/</li>
				    <li>Django DEPs - https://github.com/django/deps</li>
				    <li>Django Design Philosophy - https://docs.djangoproject.com/en/1.8/misc/design-philosophies/</li>
				  </ul>
				  <p>http://alasdairnicol.github.io/poniesandmoustaches</p>
				</section>


				<section>
				  <h2>Any questions?</h2>
				  <pre><code class="hljs django">&lt;ul&gt;
  {% for question in Questions %}
  &lt;li&gt;{{ question.answer }}&lt;/li&gt;
  {% endfor %}
&lt;/ul&gt;</code></pre>
				  <p>
				    <small>Alasdair Nicol | @al_sdair | http://al.sdair.co.uk</small>
				  </p>
				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
